@import url('https://fonts.googleapis.com/css?family=Pirata+One');
@import url('https://fonts.googleapis.com/css?family=Nyala');

html,
body {
  /* background-image: url("background.jpg"); */
  background-repeat: no-repeat;
  /* background-color: #cccccc; */
  height: 100%;
  margin: 0px;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Pirata One";
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

#scenario-modal .modal-content {
  font-family: "Nyala";
  background: url("background.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

#event-modal .modal-content {
  font-family: "Nyala";
  background: url("road.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

@media (min-width: 992px) {
  #scenario-modal .modal-content {
    padding-left: 60px;
    padding-right: 60px;
  }

  #campaign-modal .modal-content {
    padding-left: 60px;
    padding-right: 60px;
  }

  .banners {
    height: 240px;
  }
}

#scenario-paths {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 56px;
  left: 0px;
}

@media (max-width: 992px) {
  #scenario-modal .modal-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 35px;
  }

  #campaign-modal .modal-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 35px;
  }

  .banners {
    height: 120px;
  }
}

/* body,
#react-entry-point {
  height: 100%
}

body,
#react-entry-point,
#_dash-global-error-container {
  height: 100%
}

body,
#react-entry-point,
#_dash-global-error-container {
  height: 100%
}

body,
#react-entry-point,
#_dash-global-error-container,
div {
  height: 99%;
} */