@import url('https://fonts.googleapis.com/css?family=Pirata+One');

html,
body {
  /* background-image: url("background.jpg"); */
  background-repeat: no-repeat;
  /* background-color: #cccccc; */
  height: 100%;
  margin: 0px;
}

.banners {
  height: 240px;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

#modal .modal-content {
  background: url("background.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

@media (min-width: 992px) {
  #modal .modal-content {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 992px) {
  #modal .modal-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 35px;
  }
}

/* body,
#react-entry-point {
  height: 100%
}

body,
#react-entry-point,
#_dash-global-error-container {
  height: 100%
}

body,
#react-entry-point,
#_dash-global-error-container {
  height: 100%
}

body,
#react-entry-point,
#_dash-global-error-container,
div {
  height: 99%;
} */